html{
        background-color:#221e17;
        /* -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover; */
        background-size: cover;
}
nav{
    text-align: center;
}
nav a{
    color: aliceblue;
    text-align:center;

}
nav a:hover{
    color: palevioletred;
}
p .basicinfo{
    color: aliceblue;
}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
}

.myimg{
    clip-path: circle(50% at 50% 50%);
}
footer a{
    color: aliceblue;;
}
footer a:hover{
           color: rgb(25, 158, 54);
} 
.name{
    text-align: center;
    color: aliceblue;
}
.aboutme{
    color:aliceblue;
}
#prodylink {
    color:darkolivegreen;
}
#prodylink:hover{
    color: aliceblue;
}
.mywebsite{
    color: darkolivegreen;
}
.mywebsite:hover{
    color: aliceblue;
}
 table{
     color: aliceblue;
 }
 thead{
     text-align: justify;
 }

 hr{
     border-color: grey;
     width: 5%;
     border-style:dotted none none none;
     border-width: 5px;
     /* height: 2px; */
     
 }

 .swastik{
     color: rgb(182, 143, 35);
     text-align: center;
 }
 h1{
     color: rgb(74, 153, 74);
 }