html{
        background: fixed no-repeat url(/bgimg.jpg);
        /* -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover; */
        background-size: cover;
}
nav{
    text-align: center;
}
nav a{
    color: aliceblue;
    text-align:center;

}
nav a:hover{
    color: palevioletred;
}
p .basicinfo{
    color: aliceblue;
}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
}

.myimg{
    clip-path: circle(50% at 50% 50%);
}
footer a{
    color: aliceblue;;
}
footer a:hover{
           color: pink;
} 
.name{
    text-align: center;
    color: aliceblue;
}
.aboutme{
    color:aliceblue;
}
#prodylink{
    color:darkolivegreen;
}
#prodylink:hover{
    color: aliceblue;
}
  #skill{
    color: aliceblue;
}